workflows/EDP Cards Requests.json
{"createdAt":"2024-11-08T01:21:53.885Z","updatedAt":"2024-12-16T13:47:47.559Z","id":"NjphYJI7X1fxF8Uc","name":"EDP Cards Requests","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://dev.azure.com/trackco/Joker/_apis/wit/workitems/$Requests?api-version=7.1","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"specifyQuery":"json","jsonQuery":"=[\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Description\",\n    \"from\": null,\n    \"value\": \"<div>{{ $json['Descrição'] }}</div>\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Title\",\n    \"from\": null,\n    \"value\": \"{{ $json['Título'] }}\"\n  },\n   {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Name\",\n    \"from\": null,\n    \"value\": \"{{ $json.Nome }}\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Tags\",\n    \"from\": null,\n    \"value\": \"requests\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Email\",\n    \"from\": null,\n    \"value\": \"{{ $json.Email }}\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Squad\",\n    \"from\": null,\n    \"value\": \"{{ $json.Squad }}\"\n  }\n]","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json-patch+json","body":"=[\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Description\",\n    \"from\": null,\n    \"value\": \"<div>{{ $json['Descrição'] }}</div>\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Title\",\n    \"from\": null,\n    \"value\": \"{{ $json['Título'] }}\"\n  },\n   {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Name\",\n    \"from\": null,\n    \"value\": \"{{ $json.Nome }}\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/System.Tags\",\n    \"from\": null,\n    \"value\": \"requests\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Email\",\n    \"from\": null,\n    \"value\": \"{{ $json.Email }}\"\n  },\n  {\n    \"op\": \"add\",\n    \"path\": \"/fields/Custom.Squad\",\n    \"from\": null,\n    \"value\": \"{{ $json.Squad }}\"\n  }\n]","options":{}},"id":"1e250401-cc95-4599-a9ce-f40972dc4342","name":"Open Card","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,340],"retryOnFail":false,"credentials":{"httpBasicAuth":{"id":"DKN8x4KOlXNgiys4","name":"Azure DevOps"}},"onError":"continueErrorOutput"},{"parameters":{"path":"requests","formTitle":"Engenharia de Plataforma | Joker","formFields":{"values":[{"fieldLabel":"Título","requiredField":true},{"fieldLabel":"Descrição","requiredField":true},{"fieldLabel":"Nome","requiredField":true},{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Squad","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Batman/Wolverine"},{"option":"Black Panther"},{"option":"Dead Pool"},{"option":"N3"},{"option":"Others"}]},"requiredField":true}]},"options":{"appendAttribution":false,"respondWithOptions":{"values":{"formSubmittedText":"Solicitação criada."}},"useWorkflowTimezone":true}},"id":"695a75c0-49ae-47cb-ae50-a814f5785c0b","name":"Infos","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[420,340],"webhookId":"307eec41-8f90-48cd-a09a-6a139c886c5e"},{"parameters":{"channel":"#edp-infos","otherOptions":{},"attachments":[{"text":"Card solicitado não foi possível criar no board do Azure DevOps;\nTítulo: {{ $('Infos').item.json['Título'] }}\nDescrição: {{ $('Infos').item.json['Descrição'] }}\nEmail do solicitante: {{ $('Infos').item.json['Email'] }}\nNome do solicitante: {{ $('Infos').item.json['Nome'] }}\nSquad: {{ $('Infos').item.json['Squad'] }}\n","color":"#FF0000"}]},"name":"Slack - Error","type":"n8n-nodes-base.slack","position":[1060,460],"typeVersion":1,"id":"5b2eecd2-1cd1-43a8-8015-0aea390be7af","credentials":{"slackApi":{"id":"aje3CdDJ3MY9nXGX","name":"Slack account 2"}}},{"parameters":{"channel":"#edp-infos","text":"=","otherOptions":{},"attachments":[{"text":"=Card solicitado.\nTítulo: {{ $('Infos').item.json['Título'] }}\nDescrição: {{ $('Infos').item.json['Descrição'] }}\nEmail do solicitante: {{ $('Infos').item.json['Email'] }}\nNome do solicitante: {{ $('Infos').item.json['Nome'] }}\nSquad: {{ $('Infos').item.json['Squad'] }}\n","color":"#59FF00"}]},"name":"Slack - Succeeded","type":"n8n-nodes-base.slack","position":[1060,240],"typeVersion":1,"id":"42e31577-704d-41a4-9d62-64a3a7039695","credentials":{"slackApi":{"id":"aje3CdDJ3MY9nXGX","name":"Slack account 2"}}}],"connections":{"Infos":{"main":[[{"node":"Open Card","type":"main","index":0}]]},"Open Card":{"main":[[{"node":"Slack - Succeeded","type":"main","index":0}],[{"node":"Slack - Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90311aa0-c834-478f-b782-1eba4fc610b1","triggerCount":1,"tags":[{"createdAt":"2024-10-27T19:35:04.963Z","updatedAt":"2024-10-27T19:35:04.963Z","id":"XGnSXuSd9l0ZeIF7","name":"edp"}]}